<configuration>

  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{"dd.MM.yyyy HH:mm:ss,SSS"} [%thread] %-5level %logger{60}:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="msgexport" level="INFO" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>